PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=dm3fnkEXA9UJ5ZP4oc4_5c643K5V767H
DRIVE_DISK=local
DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=
PG_DB_NAME=timetracker
